.ScoreContainer {
  width: 25rem;
  position: relative;
}
.ScoreTitle {
  font-size: 1.2rem;
}
.ScoreLegend {
  position: absolute;
  left: 25%;
  bottom: 35%;
}
.ScoreLegend p {
  margin: 0;
}
.renderLabel {
  padding-left: 1rem;
}
