.WeightContainer {
  width: 85%;
  background-color: #fbfbfb;
}

.custom-tooltip {
  background-color: #e60000;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  margin-left: 2rem;
}

.WeightLegend {
  width: 90%;
  margin-left: 2rem;

  display: flex;
  justify-content: space-between;
}
.WeightTitle {
  font-size: 1.2rem;
  font-weight: 700;
}
.WeightCircles {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}
.WeightCircle {
  display: flex;
}
.weight-circle_black {
  width: 0.6rem;
  height: 0.65rem;
  background-color: black;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  margin-right: 0.5rem;
}
.weight-circle_red {
  width: 0.6rem;
  height: 0.65rem;
  background-color: #e60000;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  margin-right: 0.5rem;
}
