.aside {
  width: 6rem;
  height: 150vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  z-index: -1;
  position: absolute;
  top: 0;
  padding: 0;
}
.aside-icones {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 15rem 1rem;
  margin: 0;
}
.aside-icones li {
  padding: 0.5rem 0;
}
.copyright {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom: 7rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 200px;
  margin-left: -4rem;
}
