.aside {
  width: 6rem;
  display: flex;
  flex-direction: column;
  background-color: black;

  position: absolute;
  padding: 0 0 20rem 0;
}
.aside-icones {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 12rem 1rem;
  margin: 0;
}
.aside-icones li {
  padding: 1rem 0;
}
.copyright {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom: 8rem;
  left: -3rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 200px;
}
