.ScoreContainer {
  width: 20vw;
  height: 20vw;
  position: relative;
  background-color: #fbfbfb;
}
.ScoreTitle {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1rem;
  font-weight: 600;
  color: #20253a;
}
.ScoreLegend {
  color: #282d30;
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  left: 40%;
  bottom: 40%;
}
.ScoreLegend p {
  margin: 0;
  text-align: center;
}
.renderLabel {
  font-size: 1.8rem;
  font-weight: 700;
}
