.GoalsContainer {
  width: 20vw;
  height: 20vw;
  position: relative;
  background-color: #e60000;
}
.GoalsTitle {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.custom-tooltip_goals {
  font-size: 0.8rem;
  line-height: 0rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
}

.formatXAxis {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 0rem 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 1rem;
}
