.GoalsContainer {
  width: 25rem;
  margin-left: 48rem;
  margin-top: 2rem;
  position: relative;
}
.GoalsTitle {
  font-size: 1.2rem;
}
.GoalsLegend {
  position: absolute;
  left: 25%;
  bottom: 35%;
}
.GoalsLegend p {
  margin: 0;
}
.renderLabel {
  padding-left: 1rem;
}
